<!--<a href="#list" style="color: deeppink">Chirp Me!</a>
       <img src="http://images6.fanpop.com/image/photos/36800000/Wonder-Woman-Pink-wonder-woman-36877616-500-333.jpg" class="wwoman">-->
<!--<input placeholder="user" ng-model="user">
<input placeholder="message" ng-model="message">
<button ng-click="postChirp()">Send my Chirp</button>-->
<h1>add a chirp</h1>
<input placeholder="user" ng-model="user">
<input placeholder="message" ng-model="message">
<button ng-click="postChirp()">Send my Chirp</button>